

body {
    font-family: Arial, sans-serif;
    size: 12;
    background-color: #E6F2FF;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondary {
    background-color: #003366;
    color: #E6F2FF;
}

h1 {
    size: 3em;
}

h2, h3, h4, h5 {
    size: 2em;
    font-weight: bold;
}

p {
    font-family: 'Calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    size: 1.13em;
}

a {
    color:inherit
}

a:hover {
    color:#FF6600
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
}